# References folder
Refs

# Tex artifacts
*.synctex.gz
*.aux
*.bbl
*.blg
420_paper.log
*.out

#JUCE generated content
Builds
BinaryData.h
BinaryData*.cpp
JuceLibraryCode
LV2.mak

#Windows Temp Cache Files
[Tt]humbs.db

#macOS Finder and whatnot
.DS_Store
*.DS_Store
*.swp
*~

#Visual Studio Code files
.vscode/

# Other files I don't want
*.asd
*.mp4
