[submodule "Plugin/foleys_gui_magic"]
	path = Plugin/modules/foleys_gui_magic
	url = https://github.com/Chowdhury-DSP/foleys_gui_magic.git
[submodule "Plugin/modules/chowdsp_utils"]
	path = Plugin/modules/chowdsp_utils
	url = https://github.com/Chowdhury-DSP/chowdsp_utils
[submodule "Plugin/modules/RTNeural"]
	path = Plugin/modules/RTNeural
	url = https://github.com/jatinchowdhury18/RTNeural
[submodule "Plugin/modules/JUCE"]
	path = Plugin/modules/JUCE
	url = https://github.com/lv2-porting-project/JUCE
[submodule "Plugin/modules/chowdsp_juce_dsp"]
	path = Plugin/modules/chowdsp_juce_dsp
	url = https://github.com/Chowdhury-DSP/chowdsp_juce_dsp
