#define APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

KnobBackground.png      DATA  DISCARDABLE     "../resource/KnobBackground.png"
KnobHandle.png          DATA  DISCARDABLE     "../resource/KnobHandle.png"
KnobHandleHighlight.png DATA  DISCARDABLE     "../resource/KnobHandleHighlight.png"


#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//
1 VERSIONINFO
 FILEVERSION    1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x0L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004e4"
        BEGIN
			VALUE "CompanyName", "Steinberg Media Technologies\0"
			VALUE "FileDescription", "Tutorial for VSTGUI and VST2.x\0"
			VALUE "FileVersion", "1.0.0"
			VALUE "InternalName", "VSTGUI Tutorial"
			VALUE "LegalCopyright", "Steinberg Media Technologies\0"
			VALUE "OriginalFilename", "Tutorial"
			VALUE "ProductName", "Tutorial"
			VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252
    END
END

#endif    // !_MAC
